*{
    font-family: 'Poppins', sans-serif;
}
  
body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main {
    width: 600px;
    min-height: 600px;
    padding: 0.5rem;
    margin: 1rem;
    border: 2px solid salmon;
    text-align: center;
}

/* styling for the header component */
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.show-form-btn{
    align-items: center;
    padding: 6px 14px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    background: green;
    color: white;
}

/* styling for InputForm component */
.task-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-element{
    margin: 5px;
}

.form-element input{
    padding: 5px;
}

.submit-btn{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background: green;
    color: white;
    font-size: 16px;
}
  
input{
    margin-left: 10px;
}

/* styling for the Task component */
.task {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    line-height: 0.5;
}

.task h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* reminder class that adds a green border to tasks that hvae reminders on */
.reminder{
    border-left: 5px solid green;
}