*{
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}

.main{
  text-align: center;
  width: 90vw;
  min-height: 500px;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid salmon;
}

/* styling for header which includes the 'add a task' button */
